
:root {
  --fondo-pagina: #ffffff;
  --texto-principal: #000000;
  --evento-bg: #f9f9f9;
  --borde: #522648;
}

body.oscuro {
  --fondo-pagina: #121212; 
  --texto-principal: #ffffff;
  --evento-bg: #1e1e1e;
  --borde: #a04a8d;
}

body {
  background-color: var(--fondo-pagina);
  color: var(--texto-principal);
  transition: all 0.3s ease;
  margin: 0;
  font-family: sans-serif;
}
